
/*FONT FAMILY AND COLOR*/
$dude-font:  'Work Sans', sans-serif;
$dude-color: #123456;

/*HEADLINES*/
.domi--h1 {
    font-family: $dude-font;
    text-transform: uppercase;
}


/*kleine Monitore S*/

$domi-bp--s: "only screen and (max-width : 320px)";
$domi-bp--m: "only screen and (max-width : 760px)";
$domi-bp--l: "only screen and (max-width : 980px)";
$domi-bp--xl: "only screen and (max-width : 1280px)";
/*
    @media #{$domi-bp--s} {
        background: red;
    }
*/
