/*FONT FAMILY AND COLOR*/
/*HEADLINES*/
@import url("https://fonts.googleapis.com/css?family=Work+Sans");
.domi--h1 {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase; }

/*kleine Monitore S*/
/*
    @media only screen and (max-width : 320px) {
        background: red;
    }
*/
body {
  font-family: 'Work Sans', sans-serif;
  width: 100%;
  height: 100vh; }

.domi-navigation {
  width: 100%;
  background: purple;
  color: white;
  padding: 20px; }
  .domi-navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
    color: white; }
    .domi-navigation ul li {
      padding: 10px 15px;
      display: inline; }
    .domi-navigation ul a {
      color: white !important; }

.domi-wrapper {
  height: calc(100vh - 64px);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; }

/*# sourceMappingURL=style.css.map */
