@import "variables";
@import url('https://fonts.googleapis.com/css?family=Work+Sans');


body {
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    height: 100vh;
}

.domi-navigation {
    width: 100%;
    background: purple;
    color: white;
    padding: 20px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: inline;
        color: white;

        li {
          padding: 10px 15px;
          display: inline;
        }

       a {
            color: white!important;
        }
    }

}

.domi-wrapper {
  height: calc(100vh - 64px);
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
